.boxShadowContainer{
  box-shadow: 7px 8px 7px -2px rgba(0,0,0,0.42);
  min-height:42%;
}

*{
  font-family: 'Varela Round'
}

h1{
  font-weight: 600;
}

a{
  color:blue;
  text-decoration: underline;

}

